<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>::part_name</title>
	<link href="./css/style.css" rel="stylesheet"></link>
	<link href="./css/button-copy.css" rel="stylesheet"></link>
    <script src="./js/main.js"></script>
</head>
<body>
{{content}}
</body>
</html>