p:has(> img ) {
	text-align: center;
}

h1,h2,h3,h4,h5,h6,html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 80em;
    margin: auto;
    color: #d9d8dc;
    background-color: #120c0e;
    background-color: #111111;
    padding: 13px
}

@media (max-width: 684px) {
    body {
        font-size:1.53rem
    }
}

@media (max-width: 382px) {
    body {
        font-size:1.35rem
    }
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

h1 {
    font-size: 2.35em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.75em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.25em
}

h6 {
    font-size: 1em
}

p,ul {
    margin-top: 0
}

small,sub,sup {
    font-size: 75%
}

hr {
    border-color: #eb99a1
}

a {
    text-decoration: none;
    color: #eb99a1
}

a:hover {
    color: #da4453;
    border-bottom: 2px solid #d9d8dc
}

ul {
    padding-left: 1.4em
}

li {
    margin-bottom: .4em
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: .8em .8em .8em 1em;
    border-left: 5px solid #eb99a1
}

blockquote p {
    margin-bottom: 0
}

img {
    height: auto;
    max-width: 100%
}

blockquote,code,pre {
    background-color: #40363a
}

blockquote,img,p,pre,ul {
    margin-bottom: 2.5rem
}

img,pre {
    margin-top: 0
}

pre {
    display: block;
    padding: 1em;
    overflow-x: auto
}

code {
    font-size: .9em;
    padding: 0 .5em;
    white-space: pre-wrap
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre
}

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse
}

td,th {
    padding: .5em;
    border-bottom: 1px solid #40363a
}

input {
    border: 1px solid #d9d8dc
}

input:focus {
    border: 1px solid #eb99a1
}

textarea {
    width: 100%
}

.button,button,input[type=button],input[type=reset],input[type=submit] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eb99a1;
    color: #120c0e;
    border-radius: 1px;
    border: 1px solid #eb99a1;
    cursor: pointer;
    box-sizing: border-box
}

.button[disabled],button[disabled],input[type=button][disabled],input[type=reset][disabled],input[type=submit][disabled] {
    cursor: default;
    opacity: .5
}

.button:focus:enabled,.button:hover:enabled,button:focus:enabled,button:hover:enabled,input[type=button]:focus:enabled,input[type=button]:hover:enabled,input[type=reset]:focus:enabled,input[type=reset]:hover:enabled,input[type=submit]:focus:enabled,input[type=submit]:hover:enabled {
    background-color: #da4453;
    border-color: #da4453;
    color: #120c0e;
    outline: 0
}

input[type],select,textarea {
    color: #d9d8dc;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: #40363a;
    border: 1px solid #40363a;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

input[type]:focus,select:focus,textarea:focus {
    border: 1px solid #eb99a1;
    outline: 0
}

input[type=checkbox]:focus {
    outline: 1px dotted #eb99a1
}

fieldset,label,legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}

